.footer{
    margin-top: 75px;
    border-top: 1px solid #fff;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    &__text{
    font-weight: 400;
    font-size: 14px;

    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
    }
    &__nav{
        ul{
            list-style-type: none;
            display: flex;
            
        }
        li{
            margin-right: 35px;
        }
        a{
            color:#fff;
            text-decoration: none;
        }
        a:hover{
            color:$main-color;
        }
        
    }
}