.form{
    
    margin: 0 auto;
    
    &__wrapper{
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title{
        font-size: 46px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
}
.send{  
    display: flex;
    flex-direction: column;
    width: 640px;
    margin:  0 auto;
    

    &__inputs{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 15px;
        margin-bottom: 24px;
        input{
            width: 306px;
            background: none;
            border: 1px solid #fff;
            padding: 5px;
        }
    }
    &__row{
        &-second{
            display: flex;
            gap: 62px;

            textarea{
                width: 525px;
                height: 150px;
                border: 1px solid #fff;
                background: none;
                padding: 5px;
            }
            margin-bottom: 30px;
        }
        &_third{
            display: flex;
            justify-content: space-between;
            button{
                height: 50px;
                background: $main-color;
                font-size: 24px;
                line-height: 140%;
                text-align: center;
                letter-spacing: 0.05em;
                text-transform: uppercase;
            }
        }
    }
    &__social{
        height: 150px;
       
    }
    &__adress{
       display: flex;
       padding-right: 15px;
       flex-direction: column;
       justify-content: flex-end;
       align-items: flex-end;
       span{
        margin-left: 8px;
       }
    }

}
.tel{margin-top: 5px;}
.telegram{
    margin-bottom: 15px;
}
.youtube{
    margin-bottom: 15px;
}