@media (max-width:1140px){
    .block-info{
        display: none;
    }

}
@media (max-width: 1300px) {

    .container {
        max-width: 960px;
        
    }
    .header{
        width: 100vw;
    }
    .block-info {
        p{
            font-size: 16px;
        }
        
        
    }
    .gallery_page{

        &__row{
            margin-top: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 90px;
    }
        &__block{
            background: #263326;
            max-width: 525px;
            padding: 25px;
            
            img{
                width: 475px;
                
                object-fit: cover;
            }
        }
      
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
        margin: 0 auto;
    }
    .header{
        &__nav{
            display: none;
        }
        &__main{
            &-title{
                font-size: 100px;
            }
            &-subtitle{
                font-size: 30px;
            }
        }
    }
    .achievements{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &__column-first{
            margin-bottom: 30px;
            align-items: center;
            &-title{
                position: relative;
                text-align: center;
                font-size: 36px;
                margin-bottom: 30px;
                span{
                    position: absolute;
                    bottom: -50%;
                    left: 50%;
                    translate: -50% -50%;
                }

            }
            &-text{
               
            }
        }

    }
    .service__row{
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .slider{
       &__wrapper{
        
        justify-content: space-around;
        margin-left: 75px;
       }
       .slide-second{
        display: none;
       }
        .slide-third{
            display: none;
        }
    }
    .about{
        
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &__column{
            width: 100vw;
            margin: 0 auto;
            align-items: center;
            padding-left: 25%;
            margin-bottom: 50px;

            &-second{
                padding-left: 15%;
            }
        }
        
    }
    .gallery{
        &__row{
            margin-left: 150px;
        }
    }
    .form{

    }
    .footer{
        &__text{
            font-size: 10px;
        }
        &__nav{
            margin-left: 15px;
            font-size: 12px;
            
            ul{
                align-items: center;
                li{
                    margin-right: 25px;
                    text-align: center;
                    
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .slider{
        &__wrapper{
            gap: 10px;
            margin-right: 15px;
            margin-left: 15px;
        }
    }
    .about{
        &__column{

            &-slide{
                margin-right: 60px;
                img{
                    width: 500ox;
                }

            }
            &-slider-wrapper{
                margin-right: 60px;
            }
        }
    }
    .service{
        &__types{
            flex-wrap: wrap;
            align-items: center;
            &-first{
                font-size: 30px;
                width: 100%;
                padding: 15px 10px;
                margin-bottom: 10px;
            
            }
            &-second{
                width: 100%;
                font-size: 30px;
            }
        }
    }
    .gallery{
        &__row{
            margin-left: 220px;
        }
    }
    .form{
        &__title{
            font-size: 40px;
        }
        .send{
            width: 100%;    
        }
    }
    .table__price{
        
        .first-tr{
            font-size: 14px;
            text-transform: uppercase;
        }
        &-table{
            tr{
                .first-td{
                    color:$main-color;
                }
            }
            td{
                text-align: center;
                border-top: 1px solid #fff;
                font-size: 14px;
                padding: 12px;
            }
        }
    }
    .gallery_page{

        &__row{
            margin-top: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        justify-content: center;
        gap: 90px;
    }
        &__block{
            background: #263326;
            max-width: 525px;
            padding: 25px;
            
            img{
                width: 350px;
                
                object-fit: cover;
            }
        }
      
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 30px;
    }
    .achievements{
        padding-left: 50px;
        &__column-first-title{
            font-size: 30px;
        }
    }
   
    .slider{
        padding-left: 50px;
        padding-right: 35px;
    }
    .about{
        padding-left: 50px;
        &__column-slider-wrapper-text{
            font-size: 14px;
        }
        &__column-slide{
            img{
                width: 400px;
            }
        }
    }
    .service{
        padding-left: 50px;
        &__title{
            font-size: 46px;
        }
        
    }
    .gallery{
        &__title{
            font-size: 46px;
            padding-left: 57px;
        }
        &__row{
            margin-left: 100px;
        }
    }
    .form{
        width: 100vw;
        &__title{
            font-size: 30px;
        }
        .send{
            width: 370px;
            &__inputs{
                flex-wrap: wrap;
            }
            &__row{
                &-second{
                    gap: 40px;
                    margin-right: 62px;
                }
            }
            &__adress{
                display: none;
            }
        }
    }
    .footer{
        &__text{
            font-size: 10px;
            text-align: center;
        }
        &__nav{
            display: none;
        }
    }
    .table__price{
        .service__title{
            font-size: 24px;
        }
        .first-tr{
            font-size: 12px;
            text-transform: uppercase;
        }
        &-table{
            tr{
                .first-td{
                    color:$main-color;
                }
            }
            td{
                text-align: center;
                border-top: 1px solid #fff;
                font-size: 12px;
                padding: 5px;
            }
        }
    }
}