.service{
    margin-top: 150px;
    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title{
        font-size: 52px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    &__types{
        margin-top: 40px;
        display: flex;
        &-first{
            text-align: center;
            padding: 20px 40px 10px 20px;
            width: 335px;
            background-color: $main-color;
            font-size: 32px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }
        &-second{
            text-align: center;
            padding: 20px 40px 10px 20px;
            width: 335px;
            
            font-size: 32px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }
    }
    &__row{
        margin-top: 80px;
        display: flex;
        
        gap: 25px;
    }
    &__block{
        padding: 80px  30px 30px 30px ;
        text-align: center;
        border: 1px solid #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        &-img{
            margin-bottom: 27px;
            img{
                height: 70px;
            }
        }
        &-title{
            margin-bottom: 5px;
            font-size: 18px;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }
        &-text{
            margin-bottom: 15px;
            font-size: 14px;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }
        &-btn{
          a{
            color: #fff;
            padding: 5px;
            background: $main-color;
            text-decoration: none;
          }
        }
    }
}