.slider{
    position: relative;
    margin-top: 180px;
    &__wrapper{
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        gap:15px;
        align-items: center;
        position: relative;
        
        &-prev{
            
        }
         
    }
    &__slide{
        position: relative;
        
        
    }
 
    
    &__slide-text{
        width: 95%;
        position: absolute;
        left: 10px;
        bottom: -20px;
        background: $main-color;
        padding: 5px;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
}
